CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Visual Studio
*.sln
*.vcxproj
*.filters
*.dir
Release
x64
.vs
*.user
*.exe
*.pdb
*.ilk

#  output
*.wav

*.zip
Recorder_*
*.pdf