[submodule "lib/RtAudioWrapper"]
	path = lib/RtAudioWrapper
	url = https://github.com/koobh/RtAudioWrapper.git
[submodule "lib/WAV"]
	path = lib/WAV
	url = https://github.com/koobh/WAV
[submodule "GUI/bin"]
	path = GUI/bin
	url = https://github.com/koobh/QtBin
[submodule "lib/jsonConfig"]
	path = lib/jsonConfig
	url = https://github.com/koobh/jsonConfig
